body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

h2 {
    margin-top: 0;
}

.summary-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.summary-details p {
    margin: 0;
    padding:5px;
}
